.school-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #F0F8FF;
  }
  
  .school-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: normal;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
  }
  
  .school-item h2 {
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: #131314;
  }
  
  @media (min-width: 580px) {
    .school-item__description {
      flex-direction: row;
      align-items: normal;
      justify-content: right;
      flex: 1;
    }
  
  
    .school-item__description h2 {
      font-size: 1rem;
    }
  }

  .school-item__description_button {
      background: none;
      border: none;
      padding: 0;
      font-family: arial, sans-serif;
      color: #069;
      text-decoration: underline;
      cursor: pointer;
    }
    
